<% breadcrumb :search, @query %>
<% if @results.empty? %>
  <div class="row"><div class="vertical-line"></div></div>
  <div class="row">
    <div class="col-md-12">
      <h4>No results</h4>
    </div>
  </div>
<% else %>
  <% @brands.each do |brand| %>
    <%= render brand %>
  <% end %>

  <div class="row"><div class="vertical-line"></div></div>

  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
<% end %>
