// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#allingredniets {
  text-align: center;
  margin-bottom: 2.0rem;
}

.ingredients {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-style: double;
  border-width: 0.625rem 0 0 0;
}

#functiondescription {
  margin-top: 3rem;
  border-width: 0.625rem 0 0.625rem 0;
  border-style: double;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.one-ingredient {
  font-size: 14px;
  text-align: justify;
}

.ingredients-filter-letter {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.ingredient_ingredient_functions .checkbox {
  width: 33%;
  float: left;
}

.ingredient_ingredient_functions .control-label {
  width: 100%;
  text-align: left;
}
