// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-padding {
  padding: 2rem 0 2rem 0;
}

.filter-param {
  padding: 0 0.5rem 0 0.5rem;
}

.ingredient_ingredient_functions .checkbox {
  width: 33%;
  float: left;
}

.ingredient_ingredient_functions .control-label {
  width: 100%;
  text-align: left;
}
