.additional-space {
  padding: 1.5rem 0 1.5rem 0;
}

.custom-border-bottom {
  border-style: double;
  border-width: 0 0 0.625rem 0;
}

.vertical-line {
  border-style: double;
  border-width: 0.625rem 0 0 0;
  margin: 2rem 0 2rem 0;
}

.justify {
  text-align: justify;
}
