// Place all the styles related to the Subcategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subcategory-link {
  padding-left: 1rem;
  color: #404040;
  font-weight: normal;
}
