<div class="row">
  <div class="col-md-12 text-center" id="paginateProducts">
    <%= paginate @products, :params => { anchor: "paginateProducts"},  theme: 'twitter-bootstrap-3' %>
  </div>
</div>
<div class="row"><div class="vertical-line"></div></div>
<% @products.each do |product| %>
  <%= render product %>
<% end %>
<div class="row">
  <div class="col-md-12 text-center">
    <%= paginate @products, :params => { anchor: "paginateProducts"},  theme: 'twitter-bootstrap-3' %>
  </div>
</div>
