<div class="row">
  <div class="col-md-12 custom-padding">
    <% if params[:subcategory_id] %>
      <%= link_to 'Add new product', new_subcategory_product_path, class: 'btn btn-primary pull-right' %>
    <% else %>
      <%= link_to "Add new product", new_product_path, class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>

<%= render 'product_list' %>
