<div class="row">
  <div class="col-md-12">
    <h3>Results</h3>
  </div>
</div>

<% @products.each do |product| %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to product.name, product_path(product.id) %>
    </div>
</div>
<% end %>
